<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= collection.name %></title>
</head>
<body>
    <div class="container">
        <!-- collection image -->
        <h1><%= collection.name %></h1>
        <h2>Items:</h2>
        <% collection.items.forEach( (item) => { %>
            <a href="/shoes/<%= item._id %>" class='item'>
                <!-- item image-->
                <%= item.name %>
                <%= item.price %>
            </a>
        <% }) %>
    </div>
</body>
</html>